* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, tahoma;
  background-color: #7adde6;
}

.main {
  margin: auto;
  margin-top: 40px;
  text-align: center;
  background-color: #eefcfd;
  box-shadow: 0 0 20px 0 #0003;
  padding: 40px;
  width: 100%;
  max-width: 800px;
  min-width: 500px;
}

.main-title {
  padding-bottom: 20px;
  font-size: 36px;
  color: #10313c;
}

.inputs-container {
  display: flex;
}

.text-input {
  font-family: 20px;
  padding: 10px;
  border: 2px solid #20a5b6;
  flex-grow: 2;
  font-size: 20px;
  background-color: #eefcfd;
}

.text-input:focus {
  outline: none;
  box-shadow: 0 0 5px 0 #20a5b6aa;
}

.date-input {
  font-size: 20px;
  border: none;
  background-color: #20a5b6;
  color: #eefcfd;
  max-width: 160px;
  padding-left: 10px;
}

.add-button {
  flex-grow: 1;
  font-size: 30px;
  border: none;
  background-color: #20a5b6;
  color: #eefcfd;
  max-width: 45px;
  cursor: pointer;
}

.todo-list-container {
  margin-top: 30px;
  max-height: 50vh;
  overflow: scroll;
}

.todo-list-container::-webkit-scrollbar {
    display: none;
}

.todo-container {
  background-color: #b0ecf1;
  margin-bottom: 10px;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.todo-text {
  flex-grow: 1;
  font-size: 20px;
  color: #000;
  text-align: start;
  overflow: hidden;
  cursor: pointer;
  padding-left: 5px;
}

.todo-done {
  text-decoration: line-through;
  color: #20a5b6;
}

.todo-input-update {
  border: none;
  font-size: 20px;
  width: 100%;
  border-bottom: 2px solid #10313c;
  background-color: transparent;
}

.todo-input-update:focus {
  outline: none;
}

.todo-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 5px 0 transparent;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.todo-button:hover{
  background-color: #20a5b633;
}

.button-image {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.footer-container {
  padding-top: 20px;
  display: flex;
  gap: 40px;
}

.progress-container {
  flex-grow: 2;
  border: 1px solid #20a5b6;
  position: relative;
}

.progress-bar {
  background-color: #20a5b6;
  height: 100%;
  transition: width 0.7s;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #10313c;
}

.remove-checked-button {
  border: none;
  padding: 10px;
  font-size: 20px;
  background-color: #20a5b6;
  color: #eefcfd;
  cursor: pointer;
}

